h1 {
  color: rgb(181, 131, 38);
  text-align: center;
}
body {
  background-color: hsl(34, 100%, 97%);
}
a {
  display: inline-block;
  margin: 0 10px;
  padding: 40px 15px 45px;
  color: hsl(161, 31%, 33%);
}
p {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 45px 15px 45px;
}
img {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 300px;
  border: 7px solid hsl(0, 0%, 100%);
}
.link-container {
  text-align: center;
}
.right-position {
  text-align: right;
}
